
}
h1 {
  color: #586c65;
  font-family: 'Open Sans', sans-serif;
}

h2{
  font-weight: bold;
font-family: 'Open Sans', sans-serif;
  color: #586c65;
}
p {
  color: #586c65;
}

li{
  color: #586c65;
}

body {
  background-color: #ffd9b0;
  font-family: 'Open Sans', sans-serif;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

form {
  font-family: 'Open Sans', sans-serif;
  color: #586c65;
}

body {
  background-color: #c1e1d5;
}

.img-circle {
  border-radius: 50%;
}
